################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Grocery.Core/bin
/Grocery.Core/obj
/Grocery.DAL/bin
/Grocery.DAL/obj
